
            <!--우측 상단 헤더 영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>회원 목록</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/Home/Index">Home</a>
                        </li>
                        <li>
                            <a>회원정보관리</a>
                        </li>
                        <li class="active">
                            <strong>조회</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <div class="wrapper wrapper-content">

                <!--게시글 조회옵션 -->
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="OrderNo">메일주소</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="OrderName">이름</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="MobileNo">전화번호</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">조회</button>
                        <a href="/member/regist" class="btn btn-info">신규</a>
                    </div>
                </div>

                <!-- 게시글 데이터 목록 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="table-responsive">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th width="10%">회원번호</th>
                                                <th width="40%">메일주소</th>
                                                <th width="10%">닉네임/본명</th>
                                                <th width="20%">전화번호</th>
                                                <th width="10%">가입상태</th>
                                                <th width="10%">가입일시</th>
                                            </tr>
                                        </thead>
                                        <tbody class="hoverTblBody">

                                        <% for(var i = 0;i< data.length;i++){ %> 
                                            <tr>
                                                <td><a href="#"><%=data[i].id%></a></td>
                                                <td><a href="/member/modify/<%=data[i].id%>"><%=data[i].email%></a></td>
                                                <td><%=data[i].nickname%> / <%=data[i].username%></td>
                                                <td><%=data[i].telephone%></td>
                                                <td><%=data[i].userstate%></td>
                                                <td><%=data[i].createdAt%></td>
                                            </tr>
                                        <% } %>

                                        
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>



            <script>
                //alert("목록 컨텐츠 영역입니다.");
            </script>